$fa-font-path: "../webfonts";

// Variables
@import 'variables';

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

// AdminLTE
@import '~admin-lte/build/scss/AdminLTE.scss';

.app-shadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
}

.card {
    border: 0;
    box-shadow: 0 2px 3px rgba(0,0,0,.16) !important;
}
